---
import { Icon } from 'astro-icon';

export interface Props {
  text: string;
  url: string | URL;
  class?: string;
}

const { text, url, class: className = 'inline-block' } = Astro.props;
---

<div class={className}>
  <span class="align-super font-bold text-gray-400 dark:text-slate-400">Share:</span>
  <button class="ml-2" title="Twitter Share" data-jh-social-share="twitter" data-jh-url={url} data-jh-text={text}
    ><Icon
      name="ri:twitter-fill"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
    />
  </button>
  <button class="ml-2" title="Facebook Share" data-jh-social-share="facebook" data-jh-url={url}
    ><Icon
      name="ri:facebook-box-fill"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
    />
  </button>
  <button class="ml-2" title="Linkedin Share" data-jh-social-share="linkedin" data-jh-url={url} data-jh-text={text}
    ><Icon
      name="ri:linkedin-box-fill"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
    />
  </button>
  <button class="ml-2" title="Whatsapp Share" data-jh-social-share="whatsapp" data-jh-url={url} data-jh-text={text}
    ><Icon
      name="ri:whatsapp-fill"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
    />
  </button>
  <button class="ml-2" title="Email Share" data-jh-social-share="mail" data-jh-url={url} data-jh-text={text}
    ><Icon
      name="ri:mail-fill"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300"
    />
  </button>
</div>
